/* .card {
  margin-bottom: 30px;
  text-align: center;
}

.list-group-item {
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 5px;
  width: 40px;
  height: 40px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.list-group-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.bg-success {
  background-color: #28a745 !important;
  color: #fff;
}

.bg-danger {
  background-color: #dc3545 !important;
  color: #fff;
}

.reserveButton {
  height: 30px;
  width: 120px;
  color: rgb(255, 255, 255);
  background-color: #861212;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.seat-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.row-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.row-number {
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
}

.seat-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.reserved {
  background-color: #dc3545 !important;
  color: #fff;
} */
