<div class="container my-5">
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h3 class="mb-0">Train Reservation System</h3>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label for="numSeats" class="col-sm-3 col-form-label"
              >Total Seats:</label
            >
            <div class="col-sm-9 reservationInput">
              <input
                style="width: 190px; height: 25px; text-align: center;margin-top:10px"
                class="reservationInputBox"
                type="number"
                class="form-control"
                id="totalSeats"
                name="totalSeats"
                placeholder="Enter Total Number Of Seats"
                [(ngModel)]="totalSeats"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="numSeats" class="col-sm-3 col-form-label"
              >Seats Per Row:</label
            >
            <div class="col-sm-9 reservationInput">
              <input
                style="width: 190px; height: 25px; text-align: center;margin-top:10px"
                class="reservationInputBox"
                type="number"
                class="form-control"
                id="seatsPerRow"
                name="seatsPerRow"
                placeholder="Enter Seats per Row"
                [(ngModel)]="seatsPerRow"
              />
            </div>
          </div>
          <button
            class="btn btn-primary reserveButton"
            (click)="setValues(totalSeats, seatsPerRow)"
            style="margin-top:10px"
          >
            Calculate
          </button>
        </div>
        <div class="card-body">
          <p>Select the number of seats you want to reserve:</p>
          <div class="form-group row">
            <label for="numSeats" class="col-sm-3 col-form-label"
              >Number of seats:</label
            >
            <div class="col-sm-9 reservationInput">
              <input
                style="width: 190px; height: 25px; text-align: center;margin-top:10px"
                class="reservationInputBox"
                type="number"
                class="form-control"
                id="numSeats"
                name="numSeats"
                placeholder="Enter Number Of Seats"
                min="1"
                max="7"
                [(ngModel)]="numSeats"
              />
            </div>
          </div>
          <button
            class="btn btn-primary reserveButton"
            (click)="reserveSeats(numSeats)"
            style="margin-top:10px"
          >
            Reserve Seats
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header bg-success text-white">
          <h2 class="mb-0">Available Seats</h2>
        </div>
        <div class="card-body" style="margin-top:20px">
          <div class="seat-layout">
            <ng-container *ngFor="let row of rows; let rowIndex = index">
              <span style="font-weight:bold">{{ row }}</span>
              <ul class="list-group seat-list" style="margin-top:-35px">
                <li
                  class="list-group-item"
                  *ngFor="
                    let seat of seats.slice(
                      rowIndex * seatsPerRow,
                      (rowIndex + 1) * seatsPerRow
                    );
                    let i = index
                  "
                  [class.bg-success]="!seat.isReserved"
                  [class.bg-danger]="seat.isReserved"
                >
                  <span class="seat-label" [class.reserved]="seat.isReserved">
                    {{ seat.id }}
                  </span>
                </li>
              </ul>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
